:root {
  --main-color--: #27d9b5;
  --main2-color--: #6f23bb;
  --Text-color--: #31184a;
  --Text2-color--: #184a40;
  --holdText-color--: #c1c1c1;
  --transition: 0.5s;
  --shadow--: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}

.phoneCon.flagenglish .iti__flag-container {
  left: auto !important;
  right: 0;
}
.textMainColor {
  color: var(--main-color--);
}
.paddingInput {
  padding-left: 5px !important;
  padding-right: 95px !important;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  direction: rtl;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
section {
  margin-bottom: 0 !important;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body section {
  margin: 0 0 50px;
}
/* Start header */
.navbar {
  padding: 0;
  background-color: #f7f7f7;
}
.navbar .container {
  border-bottom: 1px solid var(--holdText-color--);
}
.navbar-brand {
  padding-bottom: 0;
}
.navbar-brand img {
  width: 150px;
  height: 40px;
}
.navbar-nav .nav-link {
  color: var(--Text-color--);
  font-size: 15px;
}
@media (min-width: 1200px) {
  .navbar-nav .nav-link {
    position: relative;
    padding: 30px 20px !important;
  }
}
@media (min-width: 992px) {
  .navbar-nav .nav-link::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 15px;
    color: var(--Text-color--);
    border-left: 2px solid var(--Text-color--);
  }
}
.navbar-nav .nav-link:hover {
  color: var(--main2-color--);
}
.navbar .login-btns > a,
.navbar .login-btns button {
  white-space: nowrap;
  min-width: 107px;
  padding: 3px 7px;
  background-color: var(--main-color--);
  color: #fff;
  border: none;
  transition: var(--transition);
  border: 2px solid var(--main-color--);
}
.login-btns button:hover {
  background-color: #fff;
  color: var(--main-color--);
  border: 2px solid var(--main-color--);
}
.navbar .dropdown-toggle::after {
  position: relative;
  left: -6px;
  top: 2px;
}
header .dropdown {
  position: unset;
}
header .dropdown-menu {
  box-shadow: -5px 10px 30px #0000000d;
  min-width: 14rem;
  border: 1px solid #e5e6ef;
  z-index: 999;
}
header .dropdown-menu[data-bs-popper] {
  top: unset;
  left: unset;
  margin-top: 0;
}

@media (min-width: 992px) {
  header .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px) !important;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    inset: unset !important;
  }

  header .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px) !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
  }
}

@media (max-width: 992px) {
  header .dropdown-menu[data-bs-popper] {
    left: unset;
  }
  .navbar-collapse {
    padding-bottom: 20px;
  }
}

.dropdownForLogin .dropdown-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
header .dropdown-item {
  transition: var(--transition);
}
header .dropdown-item:hover {
  color: #fff;
  background-color: var(--main-color--);
}

.burger {
  position: relative;
  width: 25px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 55%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 18px;
  left: 5px;
  transform: rotate(-405deg);
}
.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none;
  border: navajowhite;
}
/* end header */

/*  start hero */
.hero-section {
  padding: 100px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 35px;
  color: var(--Text-color--);
  line-height: 1.5;
}
.hero-text {
  color: #333;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.hero-content strong,
.hero-text strong {
  color: var(--main-color--);
}
.hero-btn {
  background-color: var(--main-color--);
  box-shadow: 0px 24px 40px 0px #27d9b52b;
  color: white;
  padding: 8px 35px;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
  width: fit-content;
  border: 1px solid var(--main-color--);
}
.hero-btn:hover {
  background-color: #fff;
  border: 1px solid var(--main-color--);
  color: var(--main-color--);
}
.hero-image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .hero-btn {
    padding: 5px 25px;
    font-size: 16px;
    border-radius: 6px;
  }
}
/* end hero */
/* start service */
.section-title {
  color: var(--main-color--);
  font-size: 16px;
  font-weight: bold;
}
.section-text {
  color: var(--Text-color--);
  margin-bottom: 20px;
}
.services .row > * {
  padding: 0 5px;
}

.service-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  border: 1px solid var(--holdText-color--);
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-card img {
  width: 80px;
  margin-bottom: 15px;
}
.service-btn-end,
.service-btn {
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  background-color: var(--main-color--);
  color: #fff;
  transition: var(--transition);
}
.service-btn-end:hover {
  background-color: #086754;
  color: #fff;
}
.service-btn:hover {
  background-color: #fff;
  border: 1px solid var(--main-color--);
  color: var(--main-color--);
}
/* end service */
/* start login-service */
.login-service {
  background: #510a98;
  position: relative;
  padding: 60px 0;
  overflow: hidden;
}

.login-service h6 {
  font-weight: 600;
  font-size: 20px;
  color: #27d9b5;
}

.login-serviceRectangle {
  max-width: 100%;
  position: relative;
  top: -72px;
}
.engineer-img {
  max-height: 266px;
  width: auto;
  position: relative;
  z-index: 2;
}
.login-service-btn {
  padding: 14px;
  border-radius: 50px;
  background: #7c3aed;
  color: #fff;
  transition: var(--transition);
}
.login-service-btn:hover {
  background: #541aba;
}

.login-serviceForUser h1 {
  font-size: 30px;
}

@media (max-width: 991px) {
  .login-service .lead {
    font-size: 14px;
  }
  .login-service .row {
    margin-top: -35px;
  }
  .login-service-btn {
    padding: 6px 10px;
    border-radius: 50px;
  }
  .engineer-img {
    max-height: 200px;
  }
  .login-service-content {
    margin-top: -20px;
  }
  .login-service-content h1 {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .login-service-btn {
    padding: 6px 10px;
    border-radius: 50px;
  }
  .engineer-img {
    max-height: 120px;
  }
  .login-service-content {
    margin-top: -50px;
  }
  .login-service-content h1 {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .login-service-btn {
    padding: 4px 8px;
    font-size: 10px;
  }
  .login-service-btn svg {
    width: 10px;
  }
  .engineer-img {
    max-height: 92px;
  }

  .login-service-content h1 {
    font-size: 14px;
  }
  .login-service-content h6 {
    font-size: 14px;
  }
  .login-service-content .lead {
    font-size: 11px;
    margin-bottom: 10px;
  }
}
/* end login-service */
/* start stats-section */

.stats-section {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}
.faq-section h2 strong,
.stats-section h2 strong {
  color: var(--main-color--);
}
.stats-box {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.stats-box img {
  width: 80px;
  height: 80px;
}
@media (max-width: 991px) {
  .stats-box img {
    width: 50px;
    height: 50px;
  }
}
/* end stats-section */
/* start projects-section */
.projects-section {
  background-color: #fff;
  padding: 40px 0 0;
  text-align: center;
}
.project-box {
  border: 1px solid var(--main-color--);
  border-radius: 18px;
  padding: 20px;
  box-shadow: var(--shadow--);
  justify-content: space-between;
  width: 100%;
}
.project-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.status-badge {
  display: inline-block;
  background: #e5f6f091;
  color: #01a46d;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
}
.status-badge-close {
  display: inline-block;
  background: #f6e5e5;
  color: #a40101;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
}
.status-fillter {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  background: #f1f1f6;
  border-radius: 8px;
}
.btn-project-details {
  border: 2px solid var(--main-color--);
  color: var(--main-color--);
}
.btn-project-details:hover {
  background-color: #086754;
}
/* end projects-section */

/* start Contractor-login  */
.Contractor-login {
  background: #fff;
  padding: 0;
}
.Contractor-login .row {
  background: #510a98;
  padding-top: 4px;
  z-index: 3;
  position: relative;
}
.Contractor-login .ContractorRectangle1 {
  top: 35px;
  z-index: 1;
}
.Contractor-login .ContractorRectangle2 {
  top: -13px;
  z-index: 1;
}
.Contractor-login .login-service-btn {
  padding: 5px 33px;
}

.Contractor-login h2 {
  font-size: 4rem;
}
.Contractor-login .lead {
  font-size: 2rem;
}
@media (max-width: 991px) {
  .Contractor-login .login-service-content {
    margin-top: 0;
  }
  .Contractor-login .ContractorRectangle1 {
    top: -12px;
  }
  .Contractor-login {
    padding: 60px 0;
  }
  .Contractor-login .lead {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .Contractor-login .row {
    margin-top: -17px;
  }
  .Contractor-login .lead {
    font-size: 13px;
  }
  .Contractor-login .ContractorRectangle2 {
    top: -1px;
    z-index: 1;
  }
}

.serviceProvider-box .con_img {
  overflow: hidden;
}
.serviceProvider-box .con_img img {
  width: 85px;
  height: 85px;
}
/* end Contractor-login  */

/* start review-section */
.review-section {
  background-color: #fff;
  padding: 0 0 40px;
  text-align: center;
}
.services h2 strong,
.projects-section h2 strong,
.review-section h2 strong {
  color: var(--main-color--);
}
.review-section p {
  width: 50%;
}
@media (max-width: 768px) {
  .review-section p {
    width: auto;
  }
}

.review-section .testimonial-card {
  border: 1px solid var(--main-color--);
  border-radius: 10px;
  padding: 20px 20px 5px;
  box-shadow: var(--shadow--);

  text-align: center;
  margin: auto;
  position: relative;
  min-height: 262px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.review-section .testimonial-card p {
  margin: 0px 0 40px;
}
.review-section .testimonial-card .userImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: top;
}

.review-section .testimonial-card .user_title span {
  color: var(--main-color--);
}
.review-section .badge-custom {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e3c9ff;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 10px;
  color: #6b21a8;
  font-weight: bold;
}
.rate {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
}
.rate svg[data-prefix="fas"] {
  color: #ffd601;
}
.rate svg[data-prefix="far"] {
  color: #d0d0d0;
}
.swiper-slide {
  height: auto;
}
.swiper-slide {
  height: auto !important;
}
.swiper-pagination {
  margin-top: 20px;
  position: unset !important;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 10px !important;
  border-radius: 3px !important;
}
.swiper-pagination-bullet-active {
  background: var(--main-color--) !important;
}

@media (max-width: 768px) {
  .mySwiper .swiper-pagination-bullet {
    width: 20px !important;
    height: 8px !important;
  }
  .mySwiper .swiper-pagination-bullet-active {
    border-radius: 2px !important;
  }
}
/* end review-section */
/* start faq-section */
.faq-section {
  background-color: #fff;
  padding: 35px 0;
}
.faq-container {
  max-width: 600px;
  margin: auto;
}

.faq-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.faq-item {
  background: white;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: var(--shadow--);

  cursor: pointer;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.faq-icon {
  font-size: 20px;
  color: var(--main-color--);
  border: 1px solid var(--main-color--);
  border-radius: 50%;
  width: 27px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}

.faq-answer {
  max-height: 0;
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 10px 15px;
  display: block;
  transition: 12s;
}

.faq-item.active .faq-icon::before {
  content: "\f068";
  font-family: "Font Awesome 6 Free";
}
/* end faq-section */
/* start footer  */
/* start login  */
.login-container {
  min-height: 100vh;
}
.login-section {
  margin: 100px 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 32px;
  background-color: #fff;
  box-shadow: var(--shadow--);
  color: var(--Text-color--);
}
.login-section form {
  width: 100%;
}

.loginLogo {
  width: 220px;
  height: 60px;
}

.togglePassword {
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  left: 20px;
  top: 48px;
}

.eyePassword {
  color: #086754;
}

.signupLink,
.unremember {
  color: var(--main-color--);
  background-color: unset;
  border: none;
  outline: none;
}

.btn.submit {
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px #00000024;
  background: var(--main-color--);
  color: #fff;
}

.btn.submit:hover {
  background: #086754;
}
.form-control:focus {
  border-color: var(--main-color--);
  box-shadow: none;
}

input[type="checkbox"] {
  accent-color: #07997c;
  width: 15px;
}
@media (max-width: 768px) {
  .login-section {
    width: 325px;
  }
}

select.form-control {
  background-image: url(https://cdn-icons-png.flaticon.com/512/60/60995.png);
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 6px;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent !important;
  transition: var(--transition);
}
.iti--separate-dial-code .iti__selected-flag:hover {
  background-color: #27d9b525 !important;
}
.iti__country-list {
  left: 0;
}
#phoneWithCode {
  text-align: right;
}

.flagenglish .iti__country-list {
  left: unset;
  right: 0;
}
.flagenglish #phoneWithCode {
  text-align: left;
}

.imgNavaz {
  width: 140px;
  height: 50px;
  margin: 0px 0 25px;
}
.verification-badge {
  width: 24px;
  height: 24px;
}

.circleNavaz {
  width: 100px;
  height: 100px;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  margin: 20px auto;
}
.countdownNavaz {
  font-size: 24px;
  color: #2c1e50;
}

.date-container {
  position: relative;
}
.date-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.calendar-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

/* .upload-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.3s;
  background: #f9fafb;
}

.upload-box:hover {
  border-color: var(--main-color--);
}

.upload-text {
  font-size: 18px;
  color: #8d8ab0;
}

.upload-info {
  font-size: 12px;
  color: #8d8ab0;
  margin-top: 5px;
} */

@media (min-width: 768px) {
  .iti {
    width: 100%;
  }
}

.iti-mobile .iti--container {
  top: 25% !important;
  bottom: 0 !important;
}

.alert-box {
  background-color: #eef0ff;
  color: #5a5d6c;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  position: relative;
  max-width: 600px;
}

.icon {
  background-color: #c8102e;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .icon {
    width: 30px;
    height: 25px;
  }
}

.login-container .dropdown button {
  white-space: nowrap;
  border: none;
  background-color: transparent;
  transition: var(--transition);
  color: var(--main-color--);
}
.login-container .dropdown button:active,
.login-container .dropdown button:hover {
  background-color: #fff;
  color: var(--main-color--);
}

.login-container .dropdown-toggle::after {
  position: relative;
  left: -6px;
  top: 2px;
}

/* end login  */

/* start projects */

input[type="radio"],
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #333;
}

.breadcrumb .home-icon {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.breadcrumb .separator {
  color: gray;
}

.breadcrumb span {
  font-weight: bold;
}

.filter-container {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #d1d1d1;
}

@media (max-width: 992px) {
  .fillter-section {
    max-width: 1100px;
  }
}

.fillter-section .price-range {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.fillter-section .filter-container .filter-group {
  border-top: 1px solid #d1d1d1;
  padding: 8px 0;
}

.fillter-section .filter-container .search-box-con {
  border-top: 1px solid #d1d1d1;
  padding: 15px 0;
}

.fillter-section .filter-header {
  color: var(--main-color--);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.fillter-section .clear-filter {
  color: var(--main-color--);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.toggle-filter {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: var(--main-color--);
  padding: 9px;
}

.fillter-section .selected-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.fillter-section .selected-filters span {
  border: 1px solid #d1d1d1;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.fillter-section .search-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  width: auto;
  gap: 5px;
}

.fillter-section .search-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  margin: 0;
  width: 100%;
  border-radius: 5px;
}

.fillter-section .search-box button {
  background: var(--main-color--);
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
  font-size: 14px;
}

.fillter-section .fa-magnifying-glass {
  color: #616161;
}

.fillter-section .filter-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--Text-color--);
}

.fillter-section .filter-option {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.fillter-section .filter-option input {
  accent-color: #07997c;
}

.fillter-section .filter-option label {
  flex: 1;
  font-size: 14px;
}

.fillter-section .filter-option span {
  font-size: 12px;
  color: #666;
}

.fillter-section .price-range {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.fillter-section .price-range input {
  width: 100px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
}

.fillter-section .submit-filter {
  background: var(--main-color--);
  color: white;
  border: none;
  padding: 5px 40px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: auto;
  transition: var(--transition);
}

.fillter-section button:hover {
  background: #086754;
}

.filter.open {
  bottom: 0;
  padding-top: 35px;
  max-height: 90vh;
  overflow: auto;
}

#closeFilter {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
.seaMore-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e1135;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .filter {
    position: fixed;
    bottom: -150%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.8s ease-in-out;
    padding: 15px;
    z-index: 99999;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
  }

  .fillter-section .card-body {
    padding: 8px;
  }
}
.pagination {
  display: flex;
  list-style: none;
  gap: 5px;
  justify-content: center;
}

.page-item {
  border-radius: 8px;
}

.page-link {
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: #6c5b7b;
  border: 1px solid #ddd;
  background: #fff;
}

.page-item.active .page-link {
  background: var(--main-color--);
  color: white;
  border: none;
}

.page-item.disabled .page-link {
  pointer-events: none;
  color: #bbb;
  background: #f7f7f7;
  border: none;
}
.rate_fillter svg[data-prefix="fas"] {
  color: #ffd601;
}
/* end projects */
/* start about */

.about-section {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.about-section .logo img {
  width: 200px;
  height: 200px;
}

.about-section .about-text {
  font-size: 25px;
  color: var(--Text-color--);
}

.why-section {
  padding: 40px 20px;
}
.why-item {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 30px;
}
.why-item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 53.1%;
  padding: 0;
}

.why-item:nth-child(even) {
  justify-content: start;
}

.why-title {
  font-size: 25px;
}
.why-desc {
  font-size: 15px;
  color: #555;
}

.stats-sectionForAbout {
  padding: 40px 0;
  text-align: center;
}
.stats-sectionForAboutBackground {
  background-image: url(../img/design.png);
  padding: 70px 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.stats-sectionForAboutBackground .stats-box {
  background: #27d9b56e;
  border-radius: 0;
  padding: 20px;
  box-shadow: 0 4px 8px #00000013;
  color: #fff;
}

.stats-sectionForAbout h2 strong {
  color: var(--main-color--);
}

.contact-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-label {
  color: var(--main-color--);
  font-weight: 500;
}
.form-control {
  border-radius: 8px;
}
.form-control textarea,
.form-control input {
  border: none;
  outline: none;
}
.form-control input {
  margin: 0 10px;
  max-width: 80%;
}
.btn-submit {
  background: var(--main-color--);
  color: white;
  border-radius: 8px;
}
.btn-submit:hover {
  background: #17a589;
  color: #fff;
}

.contact-box-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #6c757d;
}
.contact-box-title,
.contact-box-h3 {
  color: var(--Text2-color--);
}
.contact-box a {
  color: var(--main-color--);
  font-weight: 500;
}

/* end about */
/* start profile info  */
.company-card {
  text-align: center;
  margin-top: 100px;
}
.company-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  position: relative;
}
.company-logo .prof-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.verified-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
}
.company-name {
  font-size: 22px;
  font-weight: 500;
}
.company-info {
  font-size: 14px;
  color: #666;
}

.companyTaps .nav {
  display: flex;
  padding: 0 0 20px;
  border: none;
  text-align: center;
}
.companyTaps .nav .nav-item {
  width: 20%;
  background-color: #f2f2f2;
}
.companyTaps .nav-tabs .nav-link {
  border: none;
  color: var(--Text-color--);
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .companyTaps .nav-tabs .nav-link {
    padding: 3px 3px 15px;
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (max-width: 380px) {
  .companyTaps .nav-tabs .nav-link {
    padding: 3px 1px 15px;
    font-size: 10px;
    font-weight: 400;
  }
}
.companyTaps .nav-tabs .nav-link svg {
  margin: 0 3px;
}
.companyTaps .nav-tabs .nav-link.active {
  border-bottom: 3px solid var(--main-color--);
  font-weight: 600;
  color: var(--main-color--);
  background-color: transparent;
}
.companyTaps .nav-tabs .nav-link.active svg {
  stroke: var(--main-color--);
}

.companyTaps .nav-tabs .nav-link.active svg path {
  stroke: var(--main-color--);
}
.companyTaps .nav-tabs .nav-link.active .serSvg path {
  fill: var(--main-color--);
  stroke: none;
}
.companyTaps .btn-submit {
  height: fit-content;
}

#profileInfo .prof-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#profileInfo.active {
  display: flex;
}
#profileInfo .verified-badge {
  position: relative;
  bottom: unset;
  right: unset;
  width: 25px;
  margin: 0 5px;
}
.informationBox {
  background: #71b1731a;
  padding: 8px;
  border-radius: 7px;
  width: fit-content;
}
.widthOfLocation {
  max-width: 160px;
}

.skills-title {
  font-size: 24px;
  color: var(--Text2-color--);
  margin-bottom: 10px;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.skill-badge {
  background-color: var(--main-color--);
  color: white;
  padding: 5px 8px;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
}

.service-cardForProf {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  border: 1px solid #17a589;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.service-cardForProf img {
  width: 100%;
  height: 175px;
}
.service-cardForProf .service-content {
  padding: 15px;
}
.service-cardForProf .service-title {
  font-size: 20px;
  font-weight: 500;
}
.service-cardForProf .service-description {
  color: #6c757d;
  font-size: 14px;
}
.service-cardForProf .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}
.service-cardForProf .rating svg {
  color: var(--main-color--);
}
.service-cardForProf .order-button {
  display: block;
  width: 100%;
  background: var(--main-color--);
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  transition: 0.3s;
}
.service-cardForProf .order-button:hover {
  background: var(--Text2-color--);
}

#profileProjects select {
  color: var(--main-color--);
  border-color: var(--main-color--);
  padding: 0 8px;
  outline: unset;
}
.project-box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-card {
  border: none;
  transition: var(--transition);
  width: 100%;
}
#galleryImage,
.gallery-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.gallery-card:hover {
  transform: scale(1.01);
}
.gallery-card img {
  border-radius: 10px;
}
.gallery-card .card-body {
  padding: 5px;
}
.gallery-card .card-title {
  font-size: 16px;
  margin: 0;
}

.testimonial-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.testimonial-card .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonial-card .user-info img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.rating-stars svg,
.testimonial-card svg {
  color: #ffc107;
}

.stats-card {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: white;
}
.stats-card .Percentage {
  background-color: var(--main-color--);
  padding: 5px;
  color: #fff;
}

/* end profile info  */

/* start apply to project */
.profile-ApplyProject {
  background: #fff;
  border-radius: 15px;
  padding: 20px 20px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.profile-ApplyProject .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: 3px solid #fff;
}
.profile-ApplyProject .btn-profile {
  background: var(--main-color--);
  color: #fff;
  border-radius: 25px;
  padding: 6px;
  font-weight: bold;
}
.profile-ApplyProject .btn-profile:hover {
  background: var(--Text2-color--);
  color: #fff;
}
.profile-ApplyProject .icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #555;
}
.profile-ApplyProject span {
  font-weight: 500;
}
.project-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.project-card .contact-box-title {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.project-card .detailsProject p {
  margin: 5px 0;
}
.project-card .icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #555;
}
.project-card .icon-text span {
  font-weight: 500;
}
.project-card .icon-text svg {
  font-size: 18px;
  color: #333;
}

.upload-box {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
}
.fa-upload {
  color: #fff;
  background: var(--main-color--);
  padding: 15px;
  border-radius: 12px;
}
.file-list {
  margin-top: 20px;
}
.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed #ccc;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: 0.3s;
}

.file-item:hover {
  transform: scale(1.02);
}
.file-info {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.file-icon {
  font-size: 24px;
}
.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
.progress {
  height: 5px;
  width: 100%;
}
.status-text {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
.status-text .fa-spinner {
  color: var(--main-color--);
}
.fa-check {
  color: #fff;
  background: var(--main-color--);
  padding: 2px;
  border-radius: 50%;
}

/* end apply to project */

.footer {
  /* background: var(--main-color--); */
  color: white;
  padding: 25px 0 0;
  overflow: hidden;
  background: linear-gradient(180deg, #12cfa6, #510a98);
}

.footer * {
  text-align: right;
}
.footer .contact svg {
  background: radial-gradient(
    97.57% 210.75% at 0.9% 2.98%,
    rgb(255 255 255 / 66%) 0%,
    rgb(255 255 255 / 26%) 100%
  );
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 40px 0;
}

.footer-top img {
  width: 300px;
  height: 80px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column h3 {
  font-size: 18px;
  /* color: var(--main2-color--); */
  color: var(--holdText-color--);
  margin: 10px 0;
}
.footer-column p {
  font-size: 14px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  /* color: var(--Text-color--); */
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-column p {
  /* color: var(--Text-color--);   */
  color: var(--holdText-color--);

}
.footer-column ul li p {
  font-weight: bold;
}

.footer-column ul li a:hover {
  color: white;
}


.payment-methods img {
  width: 50px;
  margin: 5px;
}

.footer .media a {
  padding: 10px;
  font-size: 25px;
  color: #fff;
}

.con_soc {
  display: flex;
  gap: 10px;
}

.faq-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  /* background-color: var(--main-color--); */
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
  position: relative;
}

@media screen and (max-width: 768px) {
  .footer-column p {
    font-size: 17px;
  }
  .footer-column_end {
    justify-content: space-between;
  }
  .footer-bottom {
    padding-top: 20px;
  }
}

@media screen and (max-width: 780px) {
  .con_soc {
    justify-content: center;
  }

  .faq-button {
    width: 35px;
    height: 35px;
  }
}
.faq-button:hover {
  animation: jello-vertical 1s both;
  background-color: #fff;
}
.tooltip {
  position: absolute;
  top: -20px;
  opacity: 0;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
}
.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: inherit;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  bottom: -15%;
}
.faq-button:hover .tooltip {
  top: -40px;
  opacity: 1;
  transition-duration: 0.3s;
}
.footer-bottom {
  background-color: #fff;
  color: #000;
}
.payment-methods {
  white-space: nowrap;
}
/* end footer  */

/* start Modals  */
/* خلفية المودال */
.modal-login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

/* صندوق المودال */
.modal-login-overlay .modalLogin {
  background: white;
  padding: 15px 10px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 340px;
  transform: translateY(-20px);
  transition: transform 0.3s ease;
  position: relative;
}

/* عرض المودال */
.modal-login-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-login-overlay.active .modalLogin {
  transform: translateY(0);
}

.modal-login-overlay .optionsAccount {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  transition: var(--transition);
}

.modal-login-overlay .optionsAccount button {
  padding: 10px 7px;
  border: 2px solid #555;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.modal-login-overlay .optionsAccount button.active {
  border-color: var(--main-color--);
  color: var(--main-color--);
}
.modal-login-overlay .optionsAccount button.active svg path {
  fill: var(--main-color--);
}

.modal-login-overlay .btn {
  background: var(--main-color--);
  color: white;
  padding: 7px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: var(--transition);
}

.modal-login-overlay .btn:hover {
  background: #086754;
}

/* زر إغلاق */
.modal-login-overlay .close-btn {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.modal-send-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

.modalSending {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  position: relative;
  display: none;
}

/* عرض المودال */
.modal-send-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-send-overlay.active .modalSending {
  transform: translateY(0);
}

/* اللودر */
.modalSending .dots-loader {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 20px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalSending .dot {
  width: 8px;
  height: 8px;
  background: var(--main-color--);
  border-radius: 50%;
  position: absolute;
  opacity: 0.6;
}

/* إخفاء جزء من الدائرة */
.modalSending .dot:nth-child(n + 10) {
  opacity: 0.3 !important;
}

/* الأنيميشن */
.modalSending .dots-loader {
  animation: 1.9s linear infinite;
  transition: 0.8s;
  transform: scale(0);
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.modalSending #status-text {
  font-size: 23px;
  margin-top: 0;
  color: #333;
  font-weight: bold;
}

/* علامة النجاح */
.modalSending .success {
  position: absolute;
  font-size: 50px;
  color: #fff;
  transition: 0.5s;
  transform: scale(0);
  opacity: 0;
  background: var(--main-color--);
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSending .success-text {
  position: absolute;
  color: #333;
  font-weight: bold;
  transition: 0.5s;
  transform: scale(0);
  opacity: 0;
  font-size: 23px;
  margin-bottom: 0;
}

.modalSending .closemodalSending {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: var(--transition);
}
/* end Modals  */

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* start head for login */
.navForLogin .navbar-brand img {
  width: 204.470703125px;
  height: 45px;
}

.navForLogin .navbar-nav .nav-link {
  position: relative;
  padding: 10px !important;
}
#Mybox img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
}

.notification {
  position: absolute;
  top: 0;
  right: -3px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid #f7f7f7;
}
@media (min-width: 992px) {
  .navForLogin.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-grow: unset;
    padding: 0 20px;
  }
  .boxForLogo {
    width: 100%;
  }
  #Mybox svg {
    font-size: 20px;
  }
}

.navForLogin .search-box {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navForLogin .search-box select {
  flex: 1;
  min-width: 90px;
  max-width: 90px;
}

.navForLogin .search-box input {
  flex: 2;
  min-width: 80px;
  background-color: transparent;
}

.navForLogin .search-box button {
  flex: 0.5;
  min-width: 40px;
}

.navForLogin .nav-link {
  color: var(--Text-color--);
  font-weight: 400;
}

.navForLogin .search-box .form-control,
.navForLogin .search-box.form-control {
  background-color: transparent;
}
@media (max-width: 992px) {
  .navForLogin .navbar-brand img {
    width: 130.470703px;
    height: 45px;
  }
  .notification {
    position: absolute;
    top: 4px;
    right: 0px;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid #f7f7f7;
  }
}

.profile-container {
  position: relative;
  text-align: center;
}
.profile-container .profile-img {
  cursor: pointer;
}
.profile-container .dropdown-menu {
  text-align: right;
  width: 200px;
  border: none;
  box-shadow: var(--shadow--);
  left: 50% !important;
  transform: translateX(-50%);
  top: 50px !important;
}
.profile-container .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -24px;
  right: 50%;
  transform: translateX(50%);
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.profile-container .dropdown-item {
  display: flex;
  align-items: center;
}

.profile-container .logout {
  color: red;
}
.profile-container .logout:hover {
  color: red;
}
/* end  head for login */

/* start add project */

#skillsForm2 .tags-container,
#skillsForm .tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
#skillsForm2 .tag,
#skillsForm .tag {
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
}
#skillsForm2 .tag span,
#skillsForm .tag span {
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
}
#skillsForm2 .dropdown-menu,
#skillsForm .dropdown-menu {
  overflow-y: auto;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  inset: inherit !important;
  transform: none !important;
}
#skillsForm2 .dropdown-menu.show,
#skillsForm .dropdown-menu.show {
  display: block;
  top: 85px !important;
}
/* end add project */

/* start chat */
.chat-container #searchInput {
  background-color: #ddd;
}

.chat-container img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.chat-container .list-group-item {
  padding: 5px;
}
.chat-container .list-group-item.active {
  z-index: 2;
  color: var(--Text-color--);
  border-color: transparent;
  background: #27db9f0f;
}

.chat-list {
  height: 400px;
  overflow-y: auto;
}
.chat-box {
  height: 400px;
  overflow-y: auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .chat-list {
    height: 200px;
    overflow-y: auto;
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  gap: 5px;
  width: 90%;
}
.message-time {
  font-size: 12px;
  color: gray;
}

.message-container.sent,
.message-container.sent > div {
  align-self: flex-start;
}
.message-container.received,
.message-container.received > div {
  align-self: flex-end;
}
.message {
  padding: 10px;
  border-radius: 8px;
  position: relative;
}
.message.sent {
  background: #27db9f;
  color: white;
  align-self: flex-start;
  flex-direction: row-reverse;
}
.message.received {
  background: #e9ecef;
  color: black;
  align-self: flex-end;
}

.status {
  font-size: 14px;
  color: #27db9f;
}
.delete-btn {
  cursor: pointer;
  color: red;
  font-size: 14px;
  margin-left: 10px;
}

#messageInput {
  width: 100%;
  max-width: 100%;
}
/* end chat */
/* start setting  */
.setting-card .contact-box-title {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.setting-card .form-control {
  background-color: transparent;
}

.setting-card .iti {
  width: 100%;
}
/* end setting  */

.jobApplications {
  max-height: 500px;
  overflow: auto;
}
.jobApplications-card {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 5px 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.jobApplications-card .profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.jobApplications-card h6 {
  margin: 0;
  font-weight: bold;
}

.jobApplications-card .jobApplications-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.jobApplications-card .fa-star {
  color: #ffc107;
}
.jobApplications-card .jobApplications-text {
  color: #555;
  font-size: 14px;
}

/* start personSetup */
.personSetup .login-section {
  max-width: 700px;
  padding: 20px;
}

.terms-checkbox a {
  color: var(--main-color--);
}

.input-group {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #cfd4da;
}
.input-group .input-group-text {
  background-color: #e9ecef;
  border: none;
  font-size: 16px;
  border-radius: unset;
}
.input-group .form-control {
  border: none;
  font-size: 16px;
  text-align: right;
}
.input-group .form-control::placeholder {
  color: #9ca3af;
}
.rules {
  color: #6c757d;
  font-size: 14px;
}

.input-group > .form-control.is-invalid:focus,
.input-group > .form-control.is-valid:focus {
  box-shadow: none;
}

.profile-pic-container .profile-pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic-container .profile-pic img {
  width: 120px;
  height: 120px;
  border: 2px solid #00c8a0;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.profile-pic-container .profile-pic::after {
  content: "";
  position: absolute;
  width: 135px;
  height: 135px;
  border: 3px solid #00c8a0;
  border-radius: 50%;
}
.profile-pic-container .upload-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #00c8a0;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  z-index: 11;
}
.profile-pic-container .hidden-input {
  display: none;
}

@media (max-width: 768px) {
  .personSetup .login-section {
    width: 100%;
    padding: 10px;
  }
  .input-group .input-group-text {
    font-size: 11px;
    padding: 5px;
  }
}
/* end personSetup */

.review-sectionForUsers {
  background-color: transparent;
}

.review-sectionForUsers .testimonial-card {
  min-height: auto;
  border: unset;
}

@media (min-width: 991px) {
  .login-serviceForUser .login-service-content {
    position: relative;
    top: -50px;
  }

  .login-service-content .search-box {
    margin-top: 80px;
  }
}

.login-service-content .search-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px !important;
  border-radius: 60px;
}

.login-service-content .search-box select {
  flex: 1;
  min-width: 115px;
  max-width: 90px;
  border: none;
}

.login-service-content .search-box input {
  flex: 2;
  min-width: 80px;
}
.login-service-content h1 {
  line-height: 1.5;
}
@media (max-width: 768px) {
  .review-sectionForUsers .testimonial-card {
    padding: 20px 5px 5px;
  }
  .review-sectionForUsers .testimonial-card .userImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .login-service-content .search-box button {
    padding: 0;
  }
  .login-service-content .search-box select {
    min-width: 105px;
    max-width: 75px;
    padding: 0;
  }
}

.service-cardForProf .userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.fs-smaller {
  font-size: 10px;
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
}
.step .circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  border: 1.5px solid #d1d1d1;
  color: #666;
  background-color: #fff;
}
.step.active .circle {
  background-color: var(--main-color--); /* لون البنفسجي */
  color: white;
}
.step::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #d1d1d1;
  top: 18px;
  left: 50%;
  z-index: -1;
}
.step:first-child::before {
  display: none;
}

.step span {
  margin-top: 10px;
  color: #666;
  white-space: nowrap;
}
.step.active span {
  font-weight: bold;
  color: black;
}

.btn_color2 {
  background-color: var(--main2-color--);
  border-color: var(--main2-color--);
  color: #fff;
}
.btn_color2:hover {
  background-color: #fff;
  border-color: var(--main2-color--);
  color: var(--main2-color--);
}
.btn_color2:hover svg path {
  stroke: var(--main2-color--);
}

.fs_biglarger {
  font-size: 40px;
}

/* start paymentMethod_con  */

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border-bottom: 1px solid #ddd;
  /* يضيف خط أفقي فقط */
}

table th,
table td {
  border-right: none;
  border-left: none;
  padding: 20px !important;
  /* يزيل الحدود الرأسية بين الأعمدة */
}

table .status-paid {
  background-color: #deffe1;
  color: #00ff15;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

table .status-pending {
  background-color: #fff4de;
  color: #ffaa00;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

table .btn-details {
  background-color: #007bff;
  color: white;
  transition: 0.5s;
}

table .btn-details:hover {
  background-color: #03366c;
  color: white;
}

table .btn-pay {
  background-color: #28a745;
  color: white;
  transition: 0.5s;
}

table .btn-pay:hover {
  background-color: #055518;
  color: white;
}

@media (max-width: 768px) {
  table th,
  table td {
    padding: 5px !important;
    font-size: 10px;
  }

  table .btn {
    font-size: 10px;
    padding: 3px;
  }
}

#paymentMethod {
  width: fit-content;
  border-radius: 10px !important;
}

.paymentMethod_con .nav-pills .nav-link {
  border-radius: 20px;
  padding: 10px 20px;
}

.paymentMethod_con .nav-pills .nav-link.active {
  background-color: #f8f9fa;
  color: black;
  border: 1px solid #ddd;
}

.paymentMethod_con .nav-pills {
  background: #e8ffeb;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
}

.paymentMethod_con .nav-pills .nav-item button {
  color: #000;
  padding: 5px 11px;
  border-radius: 5px;
}
/* start paymentMethod_con  */

#fallbackShare {
  display: none;
  margin-top: 15px;
}

#customShare {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.jobApplications-header .fa-star {
  color: #ffc107;
}

.cardFileLink .file-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--Text-color---color--);
  border: 1px solid var(--main-color--);
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.cardFileLink .file-link:hover {
  background-color: var(--Text2-color--);
  border: 1px solid #fff;
  color: white;
}

.cardFileLink .file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

/* new */

#SinUpForm .radio-buttons {
  display: flex;
  gap: 10px;
}

#SinUpForm .radio-btn {
  padding: 5px;
  border: 2px solid var(--main-color--);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  font-size: 14px;
}
.buttonsForAccountType > div {
  min-width: 105px;
}

#SinUpForm input[type="radio"]:checked + .radio-btn {
  background-color: var(--main-color--);
  color: white;
}
#SinUpForm .radio-btn svg {
  width: 15px;
  height: 15px;
}
#SinUpForm input[type="radio"]:checked + .radio-btn[for="Business"] path {
  stroke: #fff;
}
#SinUpForm input[type="radio"]:checked + .radio-btn[for="Contractor"] path,
#SinUpForm input[type="radio"]:checked + .radio-btn[for="Design"] path,
#SinUpForm input[type="radio"]:checked + .radio-btn[for="Engineer"] path,
#SinUpForm
  input[type="radio"]:checked
  + .radio-btn[for="Engineering_Office"]
  path,
#SinUpForm input[type="radio"]:checked + .radio-btn[for="Individual"] path {
  fill: #fff;
}
input[type="radio"] {
  accent-color: #07997c;
  width: 15px;
}
.file-label {
  cursor: pointer;
}
#checkboxAreTrue {
  display: none;
  margin-top: 10px;
}
/* new */
